*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

.fl_lft{
  float: left;
}

.fl_rgt{
  float: right;
}


.container:after {
 content: "";
 display: table;
 clear: both;
}

/* regola comune per i contenitori */

.header_cont, .nav_cont, .bar_cont, .top_cont, .middle_cont, .green_cont, .partners_cont, .foto_cont, .footer_cont{
  height: 100%;
  width: 60%;
  margin: auto;
}

/* QUI COMINCIA L'header */

.header{
  height: 70px;
  width: 100%;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  color: #33475F;
}

/* Inizio Section language */

.language{
  height: 100%;
  width: auto;
  font-size: 16px;
}

.language i{
  float: left;
  line-height: 70px;
}

.language p{
  float: left;
  line-height: 70px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.fa-angle-down{
color: grey;
}

.language:after {
  line-height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  color: lightgrey;
  font-size: 20px;
  float: left;
  content: '|';
}

/* Fine Section language */

/* Inizio Section tel */

.tel{
  height: 100%;
  width: auto;
  line-height: 70px;
  font-size: 16px;
}

/* Inizio Section tel */

/* Inizio Section sign */

.sign{
  height: 100%;
  width:60%;
}

.orange_botton{
height: 36px;
width: 150px;
position: relative;
top: 18px;
background: #ff7a59;
color: white;
border-radius: 6px;
text-align: center;
}

.white_botton{
height: 36px;
width: 60px;
position: relative;
top: 18px;
border: 1px solid #ff7a59;
margin-right: 20px;
border-radius: 6px;
text-align: center;
}

.sign a{
font-size: 12px;
text-decoration: none;
text-align: center;
line-height: 36px;
}

.white_botton a{
color: #ff7a59;
}

.orange_botton a{
color: white;
}





/* Fine Section sign */












/* QUI COMINCIA IL nav */

.nav{
height: 160px;
width: 100%;
background-color: white;
}

/* QUI COMINCIA LA bar_blue */

.bar_blue{
height: 100px;
width: 100%;
background-color: #2D3E50;
}

/* QUI COMINCIA top */

.top{
height: 600px;
width: 100%;
background-image: linear-gradient(to right, #09A7BF, rgba(18, 182, 207, 0.55));
border-bottom: 4px solid #33475b;
}

/* QUI COMINCIA middle */

.middle{
height: 1500px;
width: 100%;
background-color: #F5F8FA;
}

/* QUI COMINCIA green_table */

.green_table{
height: 1000px;
width: 100%;
background-image: linear-gradient(to right, #09A7BF,#00BDA5);
}

/* QUI COMINCIA partners */

.partners{
height: 400px;
width: 100%;
background-color: white;
}

/* QUI COMINCIA foto_part */

.foto_part{
height: 400px;
width: 100%;
background-color: white;
}

/* QUI COMINCIA footer */

.footer{
height: 570px;
width: 100%;
background-color: #33475b;
}
